<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>설문조사 목록</title>
</head>
<body>
    <h1>설문조사 목록</h1>
    <ul>
        <% surveys.forEach(function(survey) { %>
            <li>
                <a href="/survey/<%= survey._id %>/respond"><%= survey.title %></a>
                <a href="/survey/<%= survey._id %>/results">결과 보기</a>
                <a href="/survey/<%= survey._id %>/edit">수정</a> <!-- 수정 링크 추가 -->
                <form action="/survey/<%= survey._id %>/delete" method="POST" style="display:inline;">
                    <button type="submit">삭제</button>
                </form> <!-- 삭제 버튼 추가 -->
            </li>
        <% }); %>
    </ul>
    <a href="/survey/new">새 설문조사 만들기</a>
</body>
</html>
