<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>설문조사 응답</title>
</head>
<body>
    <h1>설문조사 응답: <%= survey.title %></h1>
    <form action="/surveys/response/<%= survey._id %>" method="POST">
        <% survey.questions.forEach((q, index) => { %>
            <p><%= q.question %></p>
            <% q.options.forEach(option => { %>
                <label>
                    <input type="radio" name="response[<%= index %>]" value="<%= option %>"> <%= option %>
                </label>
            <% }) %>
        <% }) %>
        <button type="submit">응답 제출</button>
    </form>
</body>
</html>
